@model IEnumerable<CharceApp.Models.Order>

@{
    ViewBag.Title = "BulkOrder";
}

<h4 style="font-weight:300">Order No (#@ViewBag.OrderID)</h4>

<table class="table">
    <thead style="background-color:lightgray">
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
    </thead>


    @foreach (var item in Model)
    {

        <tbody>
            <tr>
                <td>@item.Product</td>
                <td>@item.Qauntity</td>
                <td>@item.Total</td>
            </tr>

        </tbody>

      

        

    }

    <thead style="background-color:lightgray">
        <tr>
            <th>Payment Method</th>
            <th></th>
            <th>Deliver/Collect</th>

        </tr>
    </thead>

    <tbody>
        <tr>
            <td>EFT</td>
            <td></td>
            <td>Collect</td>

        </tr>

    </tbody>


    <thead>
        <tr>
            <th>Total</th>
            <th></th>
            <th>VAT</th>

        </tr>
    </thead>


    <tbody>
        <tr>
            
            <td>R @ViewBag.Total</td>
            <td></td>
            <td>15%</td>

        </tr>

    </tbody>



</table>

@{

    if (ViewBag.ImBusiness)
    {


        if (ViewBag.Status == "Pending")
        {
            <div class="three ui buttons">
                <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Pending" class="ui green button">Pending</a>
                <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Accepted" class="ui button">Accept</a>
                <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Declined" class="ui button">Decline</a>
            </div>

            <div class="three ui buttons">
                <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Seen" class="ui button">Seen</a>
                <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Shipped" class="ui button">Shipped</a>
                <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Delivered" class="ui button">Delivered</a>
            </div>

            <div class="two ui buttons">

                <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Ready to Pickup" class="ui button">Ready To Pick Up</a>
                <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Returned" class="ui button">Order Returned</a>

            </div>

        }
        else if (ViewBag.Status == "Accepted")
        {
            <div class="three ui buttons">
                <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Pending" class="ui button">Pending</a>
                <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Accepted" class="ui green button">Accept</a>
                <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Declined" class="ui button">Decline</a>
            </div>

            <div class="three ui buttons">
                <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Seen" class="ui button">Seen</a>
                <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Shipped" class="ui button">Shipped</a>
                <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Delivered" class="ui button">Delivered</a>
            </div>


            <div class="two ui buttons">

                <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Ready to Pickup" class="ui button">Ready To Pick Up</a>
                <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Returned" class="ui button">Order Returned</a>

            </div>
        }
        else if (ViewBag.Status == "Declined")
        {
            <div class="three ui buttons">
                <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Pending" class="ui button">Pending</a>
                <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Accepted" class="ui button">Accept</a>
                <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Declined" class="ui green button">Decline</a>
            </div>

            <div class="three ui buttons">
                <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Seen" class="ui button">Seen</a>
                <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Shipped" class="ui button">Shipped</a>
                <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Delivered" class="ui button">Delivered</a>
            </div>


            <div class="two ui buttons">

                <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Ready to Pickup" class="ui button">Ready To Pick Up</a>
                <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Returned" class="ui button">Order Returned</a>

            </div>
        }
        else if (ViewBag.Status == "Seen")
        {

            <div class="three ui buttons">
                <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Pending" class="ui button">Pending</a>
                <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Accepted" class="ui button">Accept</a>
                <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Declined" class="ui button">Decline</a>
            </div>

            <div class="three ui buttons">
                <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Seen" class="ui green button">Seen</a>
                <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Shipped" class="ui button">Shipped</a>
                <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Delivered" class="ui button">Delivered</a>
            </div>


            <div class="two ui buttons">

                <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Ready to Pickup" class="ui button">Ready To Pick Up</a>
                <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Returned" class="ui button">Order Returned</a>

            </div>

        }
        else if (ViewBag.Status == "Shipped")
        {
            <div class="three ui buttons">
                <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Pending" class="ui button">Pending</a>
                <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Accepted" class="ui button">Accept</a>
                <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Declined" class="ui button">Decline</a>
            </div>

            <div class="three ui buttons">
                <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Seen" class="ui button">Seen</a>
                <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Shipped" class="ui green button">Shipped</a>
                <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Delivered" class="ui button">Delivered</a>
            </div>


            <div class="two ui buttons">

                <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Ready to Pickup" class="ui button">Ready To Pick Up</a>
                <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Returned" class="ui button">Order Returned</a>

            </div>
        }
        else if (ViewBag.Status == "Delivered")
        {
            <div class="three ui buttons">
                <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Pending" class="ui button">Pending</a>
                <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Accepted" class="ui button">Accept</a>
                <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Declined" class="ui button">Decline</a>
            </div>

            <div class="three ui buttons">
                <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Seen" class="ui button">Seen</a>
                <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Shipped" class="ui button">Shipped</a>
                <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Delivered" class="ui green button">Delivered</a>
            </div>

            <div class="two ui buttons">

                <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Ready to Pickup" class="ui button">Ready To Pick Up</a>
                <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Returned" class="ui button">Order Returned</a>

            </div>

        }
        else if (ViewBag.Status == "Ready to Pickup")
        {
            <div class="three ui buttons">
                <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Pending" class="ui button">Pending</a>
                <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Accepted" class="ui button">Accept</a>
                <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Declined" class="ui button">Decline</a>
            </div>

            <div class="three ui buttons">
                <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Seen" class="ui button">Seen</a>
                <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Shipped" class="ui button">Shipped</a>
                <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Delivered" class="ui button">Delivered</a>
            </div>

            <div class="two ui buttons">

                <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Ready to Pickup" class="ui green button">Ready To Pick Up</a>
                <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Returned" class="ui button">Order Returned</a>

            </div>

        }

    }



}






