@model IEnumerable<CharceApp.Models.ProfilePic_Product>

@{
    ViewBag.Title = "Business Profile";
}



<h2 class="ui center aligned icon header">
    <i class="circular users icon"></i>
    @ViewBag.BusinessName
</h2>




@foreach (var item in Model) {


}

