
@{
    ViewBag.Title = "Feedback";
}

<div style="margin-top:100px">
    <h3 style="font-weight:100" class="text-center">@ViewBag.Feedback</h3>
    <br />
    <p style="text-align:center"><a href="/pages/switchacc" class="btn btn-primary">Switch Account</a></p>
</div>

<div class="bottom_menu">

    <div class="ui equal width center aligned padded grid">

        <div class="row" style="color:white;font-weight:100 !important;font-size:1.3rem">
            <div class="column">
                <a href="/home/index" style="color:white"><span class="glyphicon glyphicon-comment"></span></a>

            </div>
            <div class="column">
                <a href="/pages/shops" style="color:white"><span class="glyphicon glyphicon-shopping-cart"></span></a>

            </div>
            <div class="column deals-button">
                <a href="/pages/deals" style="color:white"><span class="glyphicon glyphicon-tags"></span></a>

            </div>
        </div>


    </div>

</div>

