
@{
    ViewBag.Title = "OpenMessage";
}

@*<div class="container">

    <div style="margin-top:150px">

        <h6 style="text-align:center;font-weight:100">New message to @ViewBag.RecieverDisplayName</h6>
        <br />

        <form action="/logic/SendMessage?RecieverID=@ViewBag.RecieverID" method="post" id="new_messageForm">

            <div class="input-field col s12">
                <textarea id="txt" name="txt" class="materialize-textarea"></textarea>
                <label for="txt">Type a new message...</label>
                <br />

                <input type="submit" class="btn waves-effect waves-light btn-small" style="margin-top:10px" value="send" />

            </div>

        </form>


    </div>

</div>*@






<div style="bottom:0;left:10px;position:fixed;width:100%">
    <form action="/logic/sendmessage">
        <div class="ui form">

            <div class="field">
                <h3 style="font-weight:100;color:gray">New Message</h3>

                <textarea rows="1" name="txt"></textarea>
                <button class="ui compact icon button">
                    <i class="right arrow icon"></i>
                </button>
            </div>
        </div>
        <input type="text" value="@ViewBag.RecieverID" name="RecieverID" style="visibility:hidden" />
        <input type="text" value="0" name="orderid" style="visibility:hidden" />

    </form>

</div>




