
@{
    ViewBag.Title = "ViewAccount";
}


<div class="ui card" style="margin-left:1.3rem">
    <div class="image">
        <img src="/ProfilePicFile/Business_Pic/@ViewBag.BusinessID">
    </div>
    <div class="content">
        <div class="extra content" >
            <a>
                <i class="building icon" style="font-size:1.2rem"></i>
                
            </a>
            <a class="header" style="font-size:1.2rem">@ViewBag.Name</a>
        </div>
        <div class="extra content">
            <a>
                <i class="phone icon"></i>
                @ViewBag.Phone
            </a>
        </div>
        <div class="extra content">
            <a>
                <i class="at icon"></i>
                @ViewBag.Email
            </a>
        </div>

        
        <div class="meta">
            <span class="date">Joined in 2013</span>
        </div>
        <div class="description">
            Kristy is an art director living in New York.
        </div>
    </div>
    <div class="extra content">
        <a>
            <i class="user icon"></i>
            22 Friends
        </a>
    </div>
</div>


<div class="bottom_menu">

    <div class="ui equal width center aligned padded grid">
        <div class="row" style="color:white;font-weight:100 !important;font-size:1.3rem">
            <div class="column deals-button">
                <p>
                    <a href="/profilepicsbusiness/create?BusinessID=@ViewBag.BusinessID" style="text-decoration:none;color:white">Edit Profile Picture</a>
                </p>


            </div>
            <div class="column deals-button">
                <p>
                    <a href="/pages/addaccount" style="text-decoration:none;color:white">Add Account</a>
                </p>


            </div>
        </div>


    </div>

</div>

