
<div class="chats" style="margin-bottom:100px">

    <div class="ui fluid icon input" style="margin-bottom:20px">
        <input type="text" placeholder="Search...">
        <i class="search icon"></i>
    </div>

    <div class="ui comments">
        <div class="comment" style="margin-bottom:20px">
            <a class="avatar">
                <img src="https://i2.wp.com/zblogged.com/wp-content/uploads/2015/11/5.png?w=640&ssl=1">
            </a>
            <div class="content">
                <a class="author">Stevie Feliciano</a>
                <div class="metadata">
                    <div class="date">2 days ago</div>
                    <div class="rating">
                        <i class="star icon"></i>
                        5 Faves
                    </div>
                </div>
                <div class="text">
                    Hey guys, I hope this example comment is helping you read this documentation.
                </div>
            </div>
        </div>

        <div class="comment" style="margin-bottom:20px">
            <a class="avatar">
                <img src="https://i1.wp.com/zblogged.com/wp-content/uploads/2015/11/17.jpg?w=300&ssl=1">
            </a>
            <div class="content">
                <a class="author">Stevie Feliciano</a>
                <div class="metadata">
                    <div class="date">2 days ago</div>
                    <div class="rating">
                        <i class="star icon"></i>
                        5 Faves
                    </div>
                </div>
                <div class="text">
                    Hey guys, I hope this example comment is helping you read this documentation.
                </div>
            </div>
        </div>

        <div class="comment" style="margin-bottom:20px">
            <a class="avatar">
                <img src="https://i0.wp.com/zblogged.com/wp-content/uploads/2017/01/1-4.jpg?w=387&ssl=1">
            </a>
            <div class="content">
                <a class="author">Stevie Feliciano</a>
                <div class="metadata">
                    <div class="date">2 days ago</div>
                    <div class="rating">
                        <i class="star icon"></i>
                        5 Faves
                    </div>
                </div>
                <div class="text">
                    Hey guys, I hope this example comment is helping you read this documentation.
                </div>
            </div>
        </div>

        <div class="comment" style="margin-bottom:20px">
            <a class="avatar">
                <img src="https://i2.wp.com/zblogged.com/wp-content/uploads/2015/11/5.png?w=640&ssl=1">
            </a>
            <div class="content">
                <a class="author">Stevie Feliciano</a>
                <div class="metadata">
                    <div class="date">2 days ago</div>
                    <div class="rating">
                        <i class="star icon"></i>
                        5 Faves
                    </div>
                </div>
                <div class="text">
                    Hey guys, I hope this example comment is helping you read this documentation.
                </div>
            </div>
        </div>

        <div class="comment" style="margin-bottom:20px">
            <a class="avatar">
                <img src="https://i1.wp.com/zblogged.com/wp-content/uploads/2015/11/17.jpg?w=300&ssl=1">
            </a>
            <div class="content">
                <a class="author">Stevie Feliciano</a>
                <div class="metadata">
                    <div class="date">2 days ago</div>
                    <div class="rating">
                        <i class="star icon"></i>
                        5 Faves
                    </div>
                </div>
                <div class="text">
                    Hey guys, I hope this example comment is helping you read this documentation.
                </div>
            </div>
        </div>

        <div class="comment" style="margin-bottom:20px">
            <a class="avatar">
                <img src="https://i0.wp.com/zblogged.com/wp-content/uploads/2017/01/1-4.jpg?w=387&ssl=1">
            </a>
            <div class="content">
                <a class="author">Stevie Feliciano</a>
                <div class="metadata">
                    <div class="date">2 days ago</div>
                    <div class="rating">
                        <i class="star icon"></i>
                        5 Faves
                    </div>
                </div>
                <div class="text">
                    Hey guys, I hope this example comment is helping you read this documentation.
                </div>
            </div>
        </div>



    </div>


</div>



        <div class="bottom_menu">

            <div class="ui equal width center aligned padded grid">
                <div class="row" style="color:white;font-weight:100 !important;font-size:1.3rem">
                    <div class="column">
                        <p>Chat</p>

                    </div>
                    <div class="column deals-button">
                        <p>Deals</p>

                    </div>
                </div>


            </div>

        </div>
